body    {
        background-color: lightblue;
        }

h1      {
        color: darkcyan;
        text-align: center;
        }

h2      {
        color: darkcyan;
        text-align: center;
        }

nav    {
        color: darkcyan;
        text-align: center;
        }

p       {
        font-family: verdana;
        font-size: 20px;
        color: seagreen;
        }

.site1  {
        color: darkcyan;
        text-align: center;
}

.site2  {
        color: darkcyan;
        text-align: center;
}

.site3  {
        color: darkcyan;
        text-align: center;
}