body    {
        background-color: lightcyan;
        }

header {
        background: lightblue;
}
h1      {
        color: darkcyan;
        text-align: center;
        }

h2      {
        color: darkcyan;
        text-align: center;
        }

nav    {
        color: darkcyan;
        text-align: center;
        }

p       {
        font-family: verdana;
        font-size: 20px;
        color: seagreen;
        }

.site1  {
        text-align: center;
}

.site2  {
        text-align: center;
}

.site3  {
        text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#wrapper {
   max-width: 940px;
   margin: 0 auto;
   padding: 0 5%;

 }